.main {
  background: #ffffff;
  width: calc(100% - 200px);
  height: 550px;
  margin: 50px auto;
  position: absolute;
  top: 0px;
  left: 100px;
}

.topbar {
  width: 95%;
  margin: 10px auto 0;
}

.topbar #search {
  border: 1px solid #000000;
  width: 30%;
  padding: 5px;
}

.champion-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.champion-container .champion {
  width: 30%;
  height: 360px;
  overflow: scroll;
  border: 3px solid #000000;
}

.champion-container .champion p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.champion-container .champion p .champion-name {
  font-size: 18px;
}

.champion-container .champion p .champion-img {
  width: 40px;
  height: 40px;
}

.champion-container #champion-info {
  width: 65%;
  height: 360px;
  overflow: scroll;
  border: 3px solid #000000;
  padding: 20px;
}

.champion-container #champion-info-edit {
  display: none;
  width: 65%;
  height: 360px;
  overflow: scroll;
  border: 3px solid #000000;
}

.btn-area {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
}

.btn-area button {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  background: #dddddd;
  cursor: pointer;
}

.btn-area .edit {
  margin-right: 10px;
}
